{% extends 'base.html.twig' %}
{% block title %} toutes les recettes {% endblock %}
{% block body %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis nunc non dolor consequat, non pulvinar nibh fringilla. Quisque iaculis ante sit amet tortor laoreet, eu mollis nulla tempus


<p>
    <a href="{{ path('recipe.create') }}">Creer une recette</a>
</p>

<table class="table">
<thead>
<tr>
    <th>titre</th>
    <th>Actions</th>
</tr>
</thead>

<tbody>
<tr>
    {% for recipe in recipes %}
    <td>
        <a href="{{ path('recipe.show', {id: recipe.getId(), slug: recipe.getSlug()}) }}">{{recipe.getTitle()}}</a>
    </td>
    <td>
    <div class="d-flex">
        <a href="{{ path('recipe.edit', {id: recipe.getId()}) }}">editer</a>
        <form action="{{ path('recipe.delete', {id: recipe.id}) }}" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        <button type="submit" class="btn btn-danger">Supprimer</button>
        
        </form>
    </div>
    </td>
</tr>

    {% endfor %}
    </tbody>
</table>

</ul>
{% endblock %}